{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'home' %}">Strona Domowa</a>
    <p>Atualnie Spiewasz - {{ singroom }}</p>
    <a class="btn btn-warning" href="{% url 'addSong' %}">+ Dodaj Piosenke +</a>
    {% for song in songs %}
        <p>{{ song.title }}
            <a class="btn btn-success" href="{% url 'setSong' song.id%}">Spiewaj</a>
            <a class="btn btn-primary" href="{% url 'viewSong' song.id%}">Podglad</a>
{#                  do podania argumentów możnap odać kolejny parametr w url (django template)                                                    #}
            <a class="btn btn-danger" href="{% url 'removeSong' song.id%}">Usun</a>
        </p>
    {% endfor %}



{% endblock %}s