{%  extends 'base.html' %}

{% load static %}

{% block navbar %}
    <div class="col-auto mr-auto">
        {% if user.is_authenticated %}
            <p class="my-auto user_text">{{ user.get_username }}</p>
        {% endif %}
    </div>
    <div class="col-auto">
        {% if user.is_authenticated %}
            <a class="badge badge-dark" href="{% url 'dashboard' %}">Dashboard</a>
            <a class="badge badge-dark" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a class="badge badge-dark" href="{% url 'login' %}">Login/register</a>
        {% endif %}
    </div>

{% endblock navbar %}
{% block content %}

    <div class="container-fluid">
        <div class="row ">
            <div class="col mx-auto">
                <h1 class="titleSpiewamy">Spiewamy</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-8 mx-auto center-div">

                <div class="row">
                    <div class="col-md-6 col-sm mx-auto my-2">
                        <p class="text-center m-auto p-auto">Wspólne śpiewanie sprawia większą radość :)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="row-10 mx-auto">
                        <form method="post" class="form-group">
                            {% csrf_token %}
                                <input id="userInput" class="form-control my-2" name="username" type="text" placeholder="Użytkownik">
                                <input id="checkUser" class="form-control btn btn-warning my-2" onclick="checkIfUserExist()" type="submit" value="Zacznij Spiewanie">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}

{% block script %}
    <script src="{% static 'js/base.js' %}"></script>
{% endblock %}