{% extends 'base.html' %}

{% load static %}

{% block content %}




    <div class="container-fluid">
        <div class="row">
            <div class="col text-to-sing">
                <p id="song_title">oczekiwanie na wczytanie piosenki...</p>

                <div id="song_text" class="song-text text-justify">

                </div>
            </div>
        </div>
    </div>

    <div class="clearfix topcorner">
        <button class="btn btn-success" onclick="increaseFontSize()">
            +
        </button>
        <span>Wielkosc czcionki</span>
        <button class="btn btn-danger" onclick="decreaseFontSize()">
            -
        </button>
    </div>

{% endblock %}

    {% block script %}
        <script src="{% static 'js/singroom.js' %}"></script>
    {% endblock %}